.info{
    color: black;
    flex-grow: 1;
    font-size: 20px;
    margin-top: 40px;
}

.form_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}