.cart_text{
    color: black;
    flex-grow: 1;
}

.displayed_items{
     list-style-type: none;
}

.cart_items_details{
    max-height: 25rem;
    overflow: auto;
}

.plus{
    font: inherit;
    font-weight: bold;
    color: #C95B0C;
    border: 2px solid #C95B0C;
    text-align: center;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    margin: 0.25rem;
    width: 2rem;
}

.minus{
    font: inherit;
    font-weight: bold;
    color: #C95B0C;
    border: 2px solid #C95B0C;
    text-align: center;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    margin: 0.25rem;
    width: 2rem;

}

.plus:hover,
.minus:hover{
    background-color: #C95B0C;
    color: white;
}