.sidebar{
    background-color: #FFAF42;
    width: 200px;
    height: 700px;
    text-align: left;
    font-size: 20px;
    border-right: 4px solid #152238;
}

.page-buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.button1, .button2, .button3, .button4, .button5, .button6, .button7{
    width: 100px;
    transition-duration: 1s;
    border-radius: 4px;
    height: 30px;
    margin-top: 10px;
    background-color: white;
}

.button1:hover,
.button2:hover,
.button3:hover,
.button4:hover,
.button5:hover,
.button6:hover,
.button7:hover{
    background-color: #152238;
    color: white;
}


.button6{
    margin-top: 370px;
}