.sidebar{
    background-color: #FFAF42;
    width: 200px;
    height: 700px;
    text-align: left;
    font-size: 20px;
}

.page-buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    border-radius: 2px;
}

button{
    width: 100px;
}