.form_style{
    background-color: white;
    flex-grow: 1;
    height: 700px;
    font-size: 20px;
}

.form_controls, .form_button{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    color: black;
}

.form_button{
    transition-duration: 1s;
    border-radius: 4px;
    width: 100px;
    height: 25px;
}

.form_button:hover{
    background-color: #FFAF42;
    color: black;
}

.displayed_text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 20px;

}