.goals_displayed{
    color: black;
    flex-grow: 1;
    font-size: 20px;
    margin-top: 40px;
    margin-left: 250px;
}

.card_goals{
    width: 700px;
}

.unordered_list{
    list-style-type: none;
}
